.wax-legends {
	width: 235px;
	left: 15px;
	right: 0;
	overflow: hidden;
}

.wax-legend {
	width: 203px !important;
}

.wax-legend h2 {
	font-size: 18px;
	margin-bottom: 5px;	
}

.wax-legend h3 {
	font-size: 14px;
	margin-bottom:5px;	
}

#for-embed {
	display:none;	
}

#for-wax {
	display:block !important;
}

.wax-tooltip h2 {
	margin-bottom: 10px;
	font-size: 24px;	
}

.wax-tooltip .number {
	font-size: 22px;
	font-weight: bold;	
}

.wax-tooltip h3 {
	margin-top: 10px;	
}

.wax-tooltip img {
	margin: 15px 0 5px 0;	
}

.wax-tooltip table {
	margin: 10px 0;	
}

.wax-tooltip table td {
	font-size: 12px;
}