@charset "UTF-8";
/* CSS Document */

#layerControl {
    background-color: #F4F4F4;
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid #660033;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	height: 55px;
	margin-top:36px;
    padding: 10px 10px 10px;
}

#layerControl .inner {
	width:415px;
	float:right;
	position: relative;	
}

#layerControl h2 {
	margin: 0 0 10px 0;
}

#slider {
	background: #EEEEEE; /* Old browsers */
	background: -moz-linear-gradient(left,  #EEEEEE 0%, #660033 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#EEEEEE), color-stop(100%,#660033)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #EEEEEE 0%,#660033 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #EEEEEE 0%,#660033 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #EEEEEE 0%,#660033 100%); /* IE10+ */
	background: linear-gradient(left,  #EEEEEE 0%,#660033 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#660033',GradientType=1 ); /* IE6-9 */
	z-index: 10000;
}

#sliderLabel span {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	position:absolute;
}