.wax-legends {
	width: 235px;
	left: 15px;
	right: 0;
	overflow: hidden;
}

.wax-legend {
	width: 203px !important;
}

.wax-legend h2 {
	font-size: 18px;
	margin-bottom: 5px;	
}

.wax-legend h3 {
	font-size: 14px;
	margin-bottom:5px;	
}

#for-embed {
	display:none;	
}

#for-wax {
	display:block !important;
}

.wax-tooltip {
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #000000;	
}

.wax-tooltip .indentification .number {
	text-align:center;
	font-size: 24px;
	font-weight:bold;
	color: #FF0000;
	font-family:Arial, Helvetica, sans-serif;
}

.wax-tooltip .governor,
.wax-tooltip #senate {
	width: 95px;
	float: left;
}

.wax-tooltip .legislature,
.wax-tooltip .house {
	width: 95px;
	float: right;
}

/* Senators */

.wax-tooltip .junior {
	float:left;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 0 0 10px;
	border: 1px solid #000;
}

.wax-tooltip .senior {
	float:right;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 10px 0 0;
	border: 1px solid #000;
}

/* No senator */

.wax-tooltip .senate-none .junior,
.wax-tooltip .senate-none .senior {
	background: #666;
}

/* Junior senator */

.wax-tooltip .senate-junior .junior {
	background: #ff0000;
}

.wax-tooltip .senate-junior .senior {
	background: #666;
}

/* Senior senator */

.wax-tooltip .senate-senior .junior {
	background: #666;
}

.wax-tooltip .senate-senior .senior {
	background: #ff0000;
}

/* Both senators */

.wax-tooltip .senate-both .junior,
.wax-tooltip .senate-both .senior {
	background: #ff0000;
}

/* House members */

.wax-tooltip .house .count {
	text-align: center;
	margin-top: 5px;
}

.wax-tooltip .house .count .rnumber {
	color: #FF0000;
	font-size: 24px;
	font-weight: bold;
	margin: 0 3px;
}

.wax-tooltip .house .count .total {
	color: #666;
	font-size: 22px;
	font-weight: bold;
	margin: 0 3px;
}