 @media(min-width: 980px) {
body {
	padding-top: 60px;
	background: #565844;
}
}
.navbar .logo {
	margin-top: 5px;
	margin-right: 10px;
}
#site-name {
	line-height: 1;
	margin: 0;
}
.submitted {
	margin-bottom: 1em;
	font-style: italic;
	font-weight: normal;
	color: #DDD;
}
.footer {
	margin-top: 45px;
	padding: 35px 0 36px;
	border-top: 1px solid #E5E5E5;
}
ul.action-links {
	margin-bottom: 2em;
}
ul.action-links li {
	display: inline;
	padding-right: 1.5em;
}
ul.action-links [class^="icon-"], ul.action-links [class*=" icon-"] {
	padding-right: .5em;
}
.modal {
	color: #000;
}
.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6 {
	font-weight: 500;
}
.modal-header {
	background: none repeat scroll 0 0 #D8D098;
}
.modal-body {
	background: none repeat scroll 0 0 #9DBA5C;
}
.modal-footer {
	background: #565844;
}
/**
 * Admin Styling
 */

/* Fix Toolbar for .navbar-fixed-top */
body.toolbar .navbar-fixed-top {
	top: 30px;
}
body.toolbar-drawer .navbar-fixed-top {
	top: 65px;
}
 @media(min-width: 980px) {
body.toolbar {
	padding-top: 94px !important;
}
body.toolbar-drawer {
	padding-top: 129px !important;
}
}
html.overlay-open .navbar-fixed-top {
	z-index: 400;
}
/* Admin toolbar fix */
body.admin-expanded.admin-vertical.admin-nw .navbar, body.admin-expanded.admin-vertical.admin-sw .navbar {
	margin-left: 260px;
}
div#admin-toolbar {
	z-index: 500;
}
/* Admin_menu fix */
#admin-menu {
	z-index: 1100;
	position: fixed;
}
body.admin-menu .navbar-fixed-top {
	top: 30px;
}
#admin-menu .dropdown li {
	line-height: normal;
}
/* System base fix */
.container-inline div, .container-inline label {
	display: block;
}
/* Default form fields to auto */
input, textarea, select, .uneditable-input {
	width: auto;
}
/* Default textfield styles inside vertical tabs */
.vertical-tabs .form-type-textfield input {
	-moz-box-sizing: inherit;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	width: auto;
}
/* Collapsible field groups fix */
html.js fieldset.collapsed {
	height: auto;
}
/* throbber fix */
html.js input.form-autocomplete {
	background-position: 100% 7px; /* LTR */
	background-repeat: no-repeat;
}
html.js input.throbbing {
	background-position: 100% -13px; /* LTR */
}
.navbar-search .control-group {
	margin-bottom: 0px;
}
input.error {
	color: #B94A48;
	border-color: #B94A48;
}
/**
 * Password strength indicator.
 */
.password-strength {
	width: 17em;
	float: right;  /* LTR */
	margin-top: 1.4em;
}
.password-strength-title {
	display: inline;
}
.password-strength-text {
	float: right; /* LTR */
	font-weight: bold;
}
.password-indicator {
	background-color: #C4C4C4;
	height: 0.3em;
	width: 100%;
}
.password-indicator div {
	height: 100%;
	width: 0%;
	background-color: #47C965;
}
input.password-confirm, input.password-field {
	width: 16em;
	margin-bottom: 0.4em;
}
div.password-confirm {
	float: right;  /* LTR */
	margin-top: 1.5em;
	visibility: hidden;
	width: 17em;
}
div.form-item div.password-suggestions {
	padding: 0.2em 0.5em;
	margin: 0.7em 0;
	width: 38.5em;
	border: 1px solid #B4B4B4;
}
div.password-suggestions ul {
	margin-bottom: 0;
}
.confirm-parent, .password-parent {
	clear: left; /* LTR */
	margin: 0;
	width: 36.3em;
}
/* added an extra clear both in the situation the form actions is preceded by an badly wrapped float element and they overlap
e.g. multipage*/

.form-actions {
	clear: both;
}

.vertical-tabs-panes fieldset {
	position:relative;
	left:20px;
	top:20px;	
}

.nav .dropdown-toggle .caret {
    border-bottom-color: #FFF;
    border-top-color: #FFF;
}

.dropdown-menu {
	z-index: 2000;	
}

/* ======================================== HTML ======================================== */

.title a {
	color: #000;
}
/* ======================================== SYSTEM OVERRIDE ======================================== */

.form-item, .form-actions {
	margin-top: 0;
}

/* ======================================== PAGES ======================================== */

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active-trail > a, .nav-tabs > .active-trail > a:hover {
	color: #fff;
}

body.front section.hero-unit {
	background: none;	
}

body.front div.front_section h2 {
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 25px;
}

.node-type-page section {
	margin-top: 15px;	
}

.region-analysis-main,
section.analysis_secondary_map,
.region-page-graphic,
.region-page-map,
.page-node-11859 .map-test,
.region-page-map-horz,
.analysis_primary_right {
	position: relative;	
}

.region-analysis-primary-right {
	height: 535px;	
}

.page-node-4531 section.section-page-header,
section#block-menu-menu-pakistan-drone-navigation {
	margin-top: 0 !important;	
}

section#block-menu-menu-pakistan-drone-navigation nav {
	margin-bottom: 0;
}

.page-node-4531 #map,
#block-block-8 #map,
.page-node-11859 #map,
#block-block-16 #map {
	color: #000;	
}

section.analysis_secondary_map,
section.analysis_secondary_map section,
section#block-block-5 {
	margin-top: 0;	
}

.page-node-4531 .map-nav,
.page-node-11859 .map-nav {
  left: 10px;
  top: 10px;
  position: absolute;
  z-index: 200;
}

.drone-tooltip p {
	font-size: 10px;
	line-height: 10px;	
}

.page-node-4531 .drone-tooltip,
#block-block-8 .drone-tooltip,
.page-node-11859 .drone-tooltip,
#block-block-16 .drone-tooltip {
  width: 150px;
  padding: 10px;
  background-color: #FFF;
  border: 1px #000 solid;
  right: 10px;
  bottom: 10px;
  position: absolute;
  color: #000;
}

.circle-obama,
.circle-drone,
.circle-bush,
.circle-air {
  border-radius: 50%;
  width: 20px;
  height: 20px; 
  border: 1px #422413 solid;
  float: left;
  margin: 0 0 0 10px;
}

.circle-obama {
  background-color: #0000FF;	
}

.circle-bush {
  background-color: #FF0000;
}

.circle-drone {
  background-color: #4C4C40;
}

.circle-air {
  background-color: #FFFF00;
}

body.node-type-webform button#edit-submit {
	margin-top: 15px;	
}

.view-pakistan-drone-strikes .views-field-field-date a {
	color: #a9ac8e;	
}

/* ======================================== HOMEGROWN: PLOT PAGES ======================================== */

body.page-taxonomy article {
	display: none;
}

body.page-taxonomy .well .table {
	margin: 0;
}

body.page-taxonomy .table tr.views-row-first td {
    border-top: none;
}

body.page-taxonomy .table-hover tbody tr:hover td {
    background-color: #000;
}

/* ======================================== HOMEGROWN TERRORISTS ======================================== */

.page-node-6284 .well li.nav-header,
.page-node-14519 .well li.nav-header,
.node-type-suspect .well li.nav-header {
	color: #000;
}

.page-node-6284 .well .nav-list a,
.page-node-14519 .well .nav-list a,
.node-type-suspect .well .nav-list a {
	color: #FFF;
	text-shadow: none;
}

.page-node-6284 .well .nav-list a:hover,
.page-node-14519 .well .nav-list a:hover,
.node-type-suspect .well .nav-list a:hover {
	color: #000;
	text-shadow: none;
}


.page-node-6284 div.citizenship,
.page-node-6284 div.domestic,
.page-node-6284 div.awalaki_year {
	position: relative;
	margin-bottom: 30px;
}

.page-node-6284 div.citizenship #tallies,
.page-node-6284 div.awalaki_year #tallies {
	position:absolute;
	top: 50px;
	left: 75px;
	z-index: 500;
}

.page-node-6284 div#legal .sentences,
.page-node-6284 div#legal .jurisdiction,
.page-node-6284 div#investigation .tips,
.page-node-6284 div#weapons .weapon_type,
.page-node-6284 div#activity .domestic,
.page-node-6284 div#radicalization .foreign_training_year {
	margin-bottom: 30px;
}

.page-node-6284 #activity #tallies .total-number {
	font-size:35px;
	line-height: 30px;
	margin-bottom:5px;
	width: 120px !important;
}

.page-node-6284 #activity .terrorists .label {
    width: 330px !important;
    line-height: 30px;
    margin-bottom: 5px;
    font-size: 14px;
}

.page-node-14519 .field-name-body .span4 .well {
	margin-top: 10px;
} 

.toggle-note {
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	position:relative;
	top:-10px;
	font-size:11px;
	text-align:center;
	background:#333;
	width:50%;
	margin:0 auto;
	line-height:11px;
}

.page-node-24391 .table th,
.page-node-24391 .table td {
	border: none;
}

.page-extremists-terror-plots caption {
	font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    line-height: normal;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

.page-node-24391 .table-striped tbody tr:nth-child(2n+1) td, 
.page-node-24391 .table-striped tbody tr:nth-child(2n+1) th {
	background-color: rgba(153, 153, 153, 0.5);
    color: #FFFFFF;
}

.page-node-24391 .table-striped tbody tr a {
	color: #FFF;
}

.page-node-14519 #tallies {
	top: 40px;
	right: 0px;
	position: absolute;
}

/*.highcharts-button rect {
	display: none;
}*/

.page-taxonomy-term .pagination {
	display: none;
}

.social-media {
	position: relative;
	z-index: 10000;
}

.social-media div.holder {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
}

.social-media div.facebook,
.social-media div.twitter {
	display:inline;	
}

/* ======================================== HOMEGROWN NODES ======================================== */

/*.node-type-suspect .span10 .well {
    background-color: #A69560;
    border: 1px solid #A69560;
    color: #000000;
}*/

.node-type-suspect .span10 .title,
.node-type-suspect .span10 .subtitle {
	margin:0;
	font-weight: 500;
}


/* ======================================== BLOCKS ======================================== */

#block-block-7,
#block-views-yemen-strike-tallies-block-year {
	position: absolute;
	left: 10px;	
}

#block-views-strike-totals-pakistan-front,
#block-views-strike-totals-block,
#block-views-strike-totals-block-1,
#block-block-13,
#block-block-15,
#block-block-7,
#tallies,
#block-views-yemen-strike-tallies-block-year,
#block-views-yemen-strike-tallies-block,
#block-views-60f05c59874fea178c23454ad0834555 {
	z-index: 1029;
	padding: 5px;
}

#block-views-strike-totals-pakistan-front h2,
#block-views-strike-totals-block h2,
#block-views-strike-totals-block-1 h2,
#block-block-13 h2,
#block-block-15 h2,
#block-block-7 h2,
#tallies h2,
#block-views-yemen-strike-tallies-block-year h2,
#block-views-yemen-strike-tallies-block h2,
#block-views-60f05c59874fea178c23454ad0834555 h2 {
	font-family: Arial, Helvetica, sans-serif;
	margin:0px;	
	font-size: 22px;
	line-height: normal;
	text-align:center;
}

#block-views-strike-totals-pakistan-front .views-field,
#block-views-strike-totals-block .views-field,
#block-views-strike-totals-block-1 .views-field,
#block-block-13 .views-field,
#block-block-15 .views-field,
#block-block-7 .views-field,
#tallies .views-field,
#block-views-yemen-strike-tallies-block .views-field,
#block-views-yemen-strike-tallies-block-year .views-field,
#block-views-60f05c59874fea178c23454ad0834555 .views-field,
.page-node-6284 #tallies .view-plot-tallies,
.page-node-14519 #tallies .view-plot-tallies {
	clear:both;	
}

#block-views-strike-totals-pakistan-front .total-number,
#block-views-strike-totals-pakistan-front .number,
#block-views-strike-totals-block .total-number,
#block-views-strike-totals-block .number,
#block-views-strike-totals-block-1 .total-number,
#block-views-strike-totals-block-1 .number,
#block-block-13 .total-number,
#block-block-13 .number,
#block-block-15 .total-number,
#block-block-15 .number,
#block-block-7 .total-number,
#block-block-7 .number,
#tallies .total-number,
#tallies .number,
#block-views-yemen-strike-tallies-block .total-number,
#block-views-yemen-strike-tallies-block .number,
#block-views-yemen-strike-tallies-block-year .total-number,
#block-views-yemen-strike-tallies-block-year .number,
#block-views-60f05c59874fea178c23454ad0834555 .total-number,
#block-views-60f05c59874fea178c23454ad0834555 .number,
.page-node-6284 .total-number,
.page-node-6284 .number,
.page-node-14519 .total-number,
.page-node-14519 .number {
	float: left;
	font-size: 18px;
	text-align:center;
	width: 130px;
}

#block-views-strike-totals-pakistan-front .total-label,
#block-views-strike-totals-pakistan-front .label,
#block-views-strike-totals-block .total-label,
#block-views-strike-totals-block .label,
#block-views-strike-totals-block-1 .total-label,
#block-views-strike-totals-block-1 .label,
#block-block-13 .total-label,
#block-block-13 .label,
#block-block-15 .total-label,
#block-block-15 .label,
#block-block-7 .total-label,
#block-block-7 .label,
#tallies .total-label,
#tallies .label,
#block-views-yemen-strike-tallies-block .total-label,
#block-views-yemen-strike-tallies-block .label,
#block-views-yemen-strike-tallies-block-year .total-label,
#block-views-yemen-strike-tallies-block-year .label,
#block-views-60f05c59874fea178c23454ad0834555 .total-label,
#block-views-60f05c59874fea178c23454ad0834555 .label,
.page-node-6284 .total-label,
.page-node-6284 .label,
.page-node-14519 .total-label,
.page-node-14519 .label {
	float:right;
	width: 100px;
}

#block-views-strike-totals-pakistan-front .label,
#block-views-strike-totals-block .label,
#block-views-strike-totals-block-1 .label,
#block-block-13 .label,
#block-block-15 .label,
#block-block-7 .label,
#tallies .label,
#block-views-yemen-strike-tallies-block .label,
#block-views-yemen-strike-tallies-block-year .label,
#block-views-60f05c59874fea178c23454ad0834555 .label {
	background-color: #666666;	
}

#block-views-strike-totals-pakistan-front button,
#block-views-strike-totals-block-1 button,
#block-block-13 button,
#block-block-15 button,
#block-block-13 h2 a,
#block-block-15 h2 a {
	color: #FFF;	
}

#block-block-13 a.btn,
#block-block-15 a.btn,
#block-views-strike-totals-block-1 a.btn,
#block-views-strike-totals-pakistan-front a.btn {
	margin-top: 10px;	
}

#block-views-yemen-strike-tallies-block {
/*	position: absolute;
	bottom: 0;
*/	width: 360px;
}

.terrorists .total-label,
.terrorists .label {
	width:215px !important;
}

.page-node-6284 .mainbar .terrorists .total-label,
.page-node-6284 .mainbar .terrorists .label {
	width:250px !important;
}

.terrorists .total-number,
.terrorists .number {
	width: 75px !important;
}

.page-node-14519 .terrorists .label {
	width: 265px !important;
}

.label-wrap { line-height:16px !important; white-space: normal; }

.page-node-6284 .tab-pane { width: 100%; }

.node-type-suspect .well a { color: #DDD; }
.node-type-suspect .well a:hover { text-decoration: underline; }

/* ======================================== NODES ======================================== */

.village {
	margin-bottom: 0;	
}

.node-type-pakistan-drone-strike .well {
	background-color: #93DA6B;
	color: #000;
	border: 1px solid #93DA6B;
}

.node-type-pakistan-drone-strike .well a,
.node-type-pakistan-drone-strike .well a:visited,
.node-type-pakistan-drone-strike .well a:hover {
	color: #666666;
}

.field .field-label {
	margin-top: 1em;	
}

.field-name-field-sources .field-items a {
	font-size: 10px;
	line-height: 14px;
}

.social-media .twitter,
.social-media .facebook,
.social-media .google {
display:inline;
width:80px;
}
.social-media .twitter {
float: left;
}
.social-media .facebook {
float: right;
}

/* ======================================== YEMEN STRIKES ======================================== */

.node-type-yemen-strike .well a {
	color: #CCC;
}

.node-type-yemen-strike .well a:visited,
.node-type-yemen-strike .well a:hover {
	color: #BBB;
}

.node-yemen-strike h3 * {
	display: inline;	
}

.node-yemen-strike .field-name-field-strike-type {
	text-transform:lowercase;
}

 @media (max-width: 767px) {
  .analysis_secondary_map .btn-group {
	display:none;  
  }
  
  .node-map {
	margin-bottom:10px;  
  }

  #block-views-strike-totals-pakistan-front .views-field .field-content div,
  #block-views-strike-totals-block .views-field .field-content div,
  #block-views-strike-totals-block-1 .views-field .field-content div,
  #block-block-13 .views-field .field-content div,
  #block-block-15 .views-field .field-content div,
  #block-block-7 .views-field .field-content div,
  #tallies .views-field .field-content div,
  #tallies .total-label,
  #tallies .total-number {
	  float:none;
	  text-align:center;
	  width: 97% !important;
	  white-space: normal !important;
  }
  .page-node-14519 #tallies {
	float:none !important;
	position: static !important;
	width: 100% !important;
}

.page-node-14519 #nsa {
	display:none;
}
}
 @media (min-width: 768px) and (max-width: 979px) {
  .analysis_secondary_map .btn-group {
	display:none;  
  }
  
  .analysis_main {
	display:none;  
  }
  
  #block-views-strike-totals-pakistan-front .views-field .field-content div,
  #block-views-strike-totals-block .views-field .field-content div,
  #block-views-strike-totals-block-1 .views-field .field-content div,
  #block-block-13 .views-field .field-content div,
  #block-block-15 .views-field .field-content div,
  #block-block-7 .views-field .field-content div,
  #tallies .views-field .field-content div,
  #tallies .total-label,
  #tallies .total-number {
	  float:none;
	  text-align:center;
	  width: 97% !important;
	  white-space: normal !important;
  }

  .page-node-14519 #tallies {
	float:none !important;
	position: static !important;
	width: 100% !important;
}

.page-node-14519 #nsa {
	display:none;
}
}
 @media (min-width: 980px) and (max-width:1199px) {
  .analysis_secondary_map .btn-group {
	display:none;  
  }

  #block-views-strike-totals-pakistan-front .views-field .field-content div,
  #block-views-strike-totals-block .views-field .field-content div,
  #block-views-strike-totals-block-1 .views-field .field-content div,
  #block-block-13 .views-field .field-content div,
  #block-block-15 .views-field .field-content div,
  #block-block-7 .views-field .field-content div,
  #tallies .views-field .field-content div,
  #tallies .total-label,
  #tallies .total-number {
	  float:none !important;
	  text-align:center;
	  width: 97% !important;
	  white-space: normal !important;
}

.page-node-14519 #tallies {
	float:none !important;
	position: static !important;
	width: 100% !important;
}

}
 @media (min-width: 1200px) {
}