@font-face {
	font-family:"platformbold";
	src:url('fonts/platformbold.eot');
	src:url('fonts/platformbold.eot?#iefix') format('eot'),
	url('fonts/platformbold.woff') format('woff'), 
	url('fonts/platformbold.ttf') format('truetype'), 
	url('fonts/platformbold.svg') format('svg');
	font-weight:300;
	font-style:normal
}

body {
	color: #000;
}

h2.title {
	font-family: "platformbold","futura-pt-n7",helvetica,arial,sans-serif;
    font-size: 30px;
    width: 50%;
    font-weight: normal;
}

#tallies {
	z-index: 1029;
	padding: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #FFF;
}

#tallies h2 {
	font-family: Arial, Helvetica, sans-serif;
	margin:0px;	
	font-size: 22px;
	line-height: normal;
	text-align:center;
}

#tallies .views-field {
	clear:both;	
}

#tallies .total-number,
#tallies .number {
	float: left;
	font-size: 18px;
	text-align:center;
	width: 80px;
}

#tallies .total-label,
#tallies .label {
	float:right;
}

#tallies .label {
	background-color: #666666;	
}

.terrorists .total-label,
.terrorists .label {
	width:262px;
}