/*1327314384,169775811*/

.fbFeedbackContent.fbDarkWidget{border:none}
.fbFeedbackContent .async_saving ul,.fbFeedbackContent .async_saving .indicator,.fbFeedbackContent .async_saving .action_links{background:url(https://s-static.ak.facebook.com/rsrc.php/v1/yb/r/GsNJNwuI-UM.gif) no-repeat right}
.fbFeedbackContent.fbDarkWidget .composerHider{border-bottom:1px solid #666;border-top:1px solid #666}
.fbFeedbackContent .composerHider{border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin:0;padding:9px 0 7px}
.fbFeedbackContent .composerHider .uiSelector{margin:-3px 1px}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton,.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:active,.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:focus,.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton:hover{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yT/r/Ami4lrB-c2A.png);background-repeat:no-repeat;background-position:right -246px;background-color:transparent;border:none;box-shadow:none;-moz-box-shadow:none;margin:0;outline:0;padding:2px 20px 2px 0}
.fbFeedbackContent .composerHider .uiSelector .uiSelectorButton .uiButtonText{color:#333}
.fbFeedbackContent.fbDarkWidget .composerHider .uiSelector .uiSelectorButton .uiButtonText{color:#fff}
.fbFeedbackContent .composerHider .uiSelector .itemLabel{font-weight:normal}
.fbFeedbackContent .composerHider .uiSelector .checked .itemLabel{font-weight:bold}
.fbFeedbackContent .composerHider a{font-weight:bold}
.fbFeedbackContent .fbThirdPartyIcon{position:relative;right:1px;top:4px}
.fbCommentContext .fbCommentContextPosts{overflow-x:hidden;overflow-y:auto;max-height:400px}
.fbCommentContext .fbCommentContextPosts .fbTopLevelComment{padding-top:0}
.fbCommentContext .composerGrid{width:100%}
.fbCommentContext .composerTight{width:0}
.fbCommentContext .composerReply .uiButton{margin-right:4px}
.fbFeedbackContent .composer{background-color:transparent;background-color:rgba(190, 190, 190, .2);border:solid #e9e9e9;border-width:1px 0;padding:7px 10px 7px 69px;position:relative}
.fbFeedbackContent.fbDarkWidget .composer{background-color:#333;border-color:#666}
.fbFeedbackContent .fbFeedbackPosts .composer{margin-left:-10px}
.fbFeedbackContent .fbFeedbackPostsContainer .fbFeedbackPosts{padding:0}
.fbFeedbackContent .noTopBorder{border-top:0 !important}
.fbDarkWidget .fbCommentContext .composer{background-color:#555;border:none}
.fbCommentContext .composer{background-color:#f2f2f2;border:1px solid #ccc;margin-top:4px;padding-bottom:4px;padding-top:4px;padding-left:70px;position:relative}
.fbFeedbackContent .composer .uiProfilePhoto{background-color:#ddd;margin:2px 0 0 0;padding:0 !important;position:absolute;left:10px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackTypeahead,.fbFeedbackContent.fbDarkWidget .fbFeedbackTypeahead .wrap{border-color:#434343}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .mentionsTextarea,.fbFeedbackContent .fbFeedbackMentions .mentionsTextarea{border-width:0;padding:0;margin:0;box-shadow:none;background-color:transparent}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions{background-color:#000}
.fbFeedbackContent .fbFeedbackMentions{background-color:#fff;margin:2px 0}
.fbFeedbackContent .fbFeedbackMentions .innerWrap{padding:3px}
.fbFeedbackContent .fbFeedbackMentions .highlighter{left:0;top:0}
.fbFeedbackContent .fbFeedbackMentions .highlighter div{line-height:13px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackMentions .highlighter b{background-color:#444}
.fbCommentContext .textwrapper,.fbFeedbackContent .textwrapper{padding:0 8px 0 0}
.fbFeedbackContent .postToProfile{position:relative;width:190px}
.fbFeedbackContent .postToProfile input{position:relative;top:2px}
.fbFeedbackContent div.commentas{color:gray;float:right;margin:4px 6px}
.fbFeedbackContent div.postToProfile{float:left}
.fbFeedbackContent .indicator{float:left;margin:3px 0 0 0}
.fbFeedbackContent select.commentas{float:right;margin:1px 6px}
.hideCommentas .commentas{display:none}
.fbCommentContext.fbDarkWidget .composer textarea,.fbFeedbackContent.fbDarkWidget .composer textarea{color:#fff;background-color:#000;border:1px solid #434343}
.fbCommentContext .composer textarea,.fbFeedbackContent .composer textarea{border-width:0;border:1px solid;border-color:#899bc5;padding:3px;width:100%}
.fbFeedbackContent .replywrapper{padding:0 8px 0 0}
.fbCommentContext .viewerProfilePic{float:left}
.fbCommentContext .replywrapper{width:100%}
.fbCommentContext .replywrappermargin{margin:0 9px}
.fbCommentContext .replywrappermargin .textarea{margin-left:-4px}
.fbFeedbackContent.fbDarkWidget .composerReply{border-top:1px solid #666}
.fbFeedbackContent .composerReply{border-top:1px solid #e9e9e9}
.fbFeedbackContent .composerReply{padding-top:8px}
.fbFeedbackContent .composerReply textarea{width:100%}
.fbFeedbackContent .postContent .action_links{margin-bottom:8px}
.fbFeedbackContent .postBlingBox{border:none;bottom:1px;cursor:text;padding:0;position:relative}
.fbFeedbackContent .postBlingBox:hover{background-color:transparent;border:none}
.fbFeedbackContent .fbUpDownVoteAfterLogin{display:inline}
.fbFeedbackContent .fbFeedbackPager{margin-left:0}
.fbFeedbackContent .fbFeedbackPager .fbFeedbackPagerLink{padding:8px}
.fbFeedbackContent .fbFeedbackReplyPager .fbFeedbackPagerLink{padding:5px 8px}
.fbFeedbackContent .fbFeedbackPager .fbFeedbackPagerLink:hover{text-decoration:none}
.fbFeedbackContent .postReplies .pagerLoader{padding-left:2px}
.fbFeedbackContent{min-height:160px}
.fbCommentContext .fbFeedbackContent{min-height:0}
.fbFeedbackContent .fbFeedbackPosts{padding:0 0 0 10px}
.fbFeedbackContent .star{height:11px;width:11px}
.fbFeedbackContent .followLinkInlineCheck,.fbFeedbackContent .followLinkInlineCheckDark{margin-right:4px}
.fbFeedbackContent .post{margin-top:4px}
.fbFeedbackContent .post input{margin-left:0}
.fbCommentContext .post .uiSelector,.fbCommentContext .cancel .uiSelector,.fbFeedbackContent .post .uiSelector,.fbCommentContext .post .uiButton,.fbCommentContext .cancel .uiButton,.fbFeedbackContent .post .uiButton{float:right}
.fbCommentContext .post .uiSelector .uiButton,.fbCommentContext .cancel .uiSelector .uiButton,.fbFeedbackContent .post .uiSelector .uiButton{float:none}
.fbFeedbackContent .post label.desc{font-weight:normal;position:absolute;top:4px}
.fbFeedbackContent .profileName{font-size: 11px}
.fbFeedbackContent .fbFeedbackPost{border:solid #e2e2e2;border-width:1px 0 0;clear:both;padding-bottom:0 !important;padding-top:10px}
.fbFeedbackContent.fbDarkWidget .fbFeedbackPost{border-color:#555}
.fbFeedbackContent li.fbTopLevelComment:first-of-type{border-width:0}
.fbFeedbackContent li.fbTopLevelComment:last-of-type{margin-bottom:-5px}
.fbDarkWidget .fbFeedbackReplies .fbFeedbackPost{border-color:#444}
.fbFeedbackReplies .fbFeedbackPost{border-width:0 0 1px 0;border-color:#e9e9e9}
.fbFeedbackReply form,.fbFeedbackContent .postReply,.postReplies{margin-top:8px}
.postReplies .uiMorePagerLight .uiMorePagerPrimary:hover{background-color:transparent;background-color:rgba(225, 228, 237, .6)}
.postReplies .uiMorePagerInverted .uiMorePagerPrimary,.postReplies .uiMorePagerInverted .uiMorePagerLoader{background-color:transparent;border-width:1px 0 0 0;border-color:#444}
.fbFeedbackContent .uiMorePagerInverted .uiMorePagerPrimary:hover{background-color:#444;border-color:#555}
.fbDarkWidget .closeButton .uiCloseButton,.fbDarkWidget .closeButton .openToggler .uiCloseButton,.fbDarkWidget .closeButtonAfterLogin .uiCloseButton{border:1px solid #000;margin:0}
.fbFeedbackContent .postContainer:hover .closeButton,.fbFeedbackContent .postContainer:hover .closeButtonAfterLogin{visibility:visible}
.fbFeedbackContent .postContainer .closeButton,.fbFeedbackContent .postContainer .closeButtonAfterLogin{float:right;visibility:hidden}
.fbFeedbackPost{position:relative}
.fbFeedbackPost .postContent{margin-top:5px}
.fbDarkWidget .fbFeedbackPost .postText{color:#ccc}
.fbFeedbackPost .postText{color:#1a1a1a;line-height:14px;margin:0 28px 5px 0}
.fbFeedbackPost .postActor{background-color:#ededed;margin-bottom:8px;margin-right:11px}
.fbDarkWidget .postActor{background-color:#333}
.fbFeedbackReplyPager{height:16px;margin-bottom:8px}
.fbFeedbackContent .fbConnectWidgetFooter{position:static}
.fbFeedbackContent .fbConnectWidgetFooter .fbFooterBorder{margin:5px 0 0 0}
.fbTopLevelComment .fbFeedbackReplies .fbCommentReply{border-width:1px 0 0}
.fbFeedbackContent .fbCommentOverlay{border-style:solid;border-width:1px;position:absolute;top:0;left:0;bottom:0;right:0;opacity:.90;font-size: 12px}
.fbFeedbackContent .fbReportedByUser{background-color:#fff;border-color:#eee}
.fbFeedbackContent .fbRecentlyBlacklisted{background-color:#444;border-color:#1a1a1a}
.fbFeedbackContent .fbRecentlyPublicized{background-color:#e4ffe2;border-color:#d2f1d0}
.fbFeedbackContent .fbRecentlyPrivatized{background-color:#fffbe8;border-color:#f7e0ff}
.fbFeedbackContent .fbCommentOverlayInsert{position:absolute;top:50%;margin-top:-0.5em;text-align:center;width:100%}
.fbFeedbackContent .fbCommentDownvotedButVisible .postText{color:gray}
.fbFeedbackContent .fbCommentOverlayDark{color:#000}
.fbFeedbackContent .fbCommentOverlayLight{color:#fff}
.fbFeedbackContent .fbCommentOverlayLight a:link,.fbFeedbackContent .fbCommentOverlayLight a:hover,.fbFeedbackContent .fbCommentOverlayLight a:visited,.fbFeedbackContent .fbCommentOverlayLight a:active{color:#999}
.fbCommentsEditSettings .uiInfoTable .label{width:145px;vertical-align:middle}
.fbCommentsEditSettings .uiInfoTable tr{border-top:1px solid #ccc}
.fbCommentsEditSettings .uiInfoTable tr:first-child{border:none}
.fbCommentsEditSettings .uiInfoTable th{padding:10px 5px 10px 0}
.fbCommentsEditSettings .uiInfoTable td{padding:10px 0 10px 5px}
.fbCommentsEditSettings .uiInfoTable tr:first-child th,.fbCommentsEditSettings .uiInfoTable tr:first-child td{padding-top:0}
.fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) th,.fbCommentsEditSettings .uiInfoTable tr:nth-last-child(2) td{padding-bottom:0}
.fbCommentsEditSettings .uiInfoTable tr:last-child,.fbCommentsEditSettings .uiInfoTable tr.custom_blacklist{border:none}
.fbCommentsEditSettings .uiInfoTable tr.custom_blacklist th,.fbCommentsEditSettings .uiInfoTable tr.custom_blacklist td{padding:0 5px 10px 5px}
.fbDarkWidget .warning a{color:gray}
.sp_9ho4u0{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yl/r/x34LjB5deZW.png);background-repeat:no-repeat;display:inline-block;height:50px;width:50px}
.sx_8f0273{background-position:-0px -0px}
.sx_8ae835{background-position:-0px -51px}
.sp_eltm0y{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yn/r/7SPie7U82HJ.png);background-repeat:no-repeat;display:inline-block;height:10px;width:10px}
.sx_8333f8{width:11px;background-position:-0px -0px}
.sx_6bca81{width:9px;height:5px;background-position:-0px -33px}
.sx_e6f6f1{background-position:-0px -11px}
.sx_3818df{background-position:-0px -22px}
.sp_comments{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/U9AwDhGgiju.png);background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_comments_favicon{background-position:-0px -153px}
.sx_comments_cfavicon{width:14px;height:14px;background-position:-0px -187px}
.sx_comments_yahoo{background-position:-17px -153px}
.sx_comments_aol{background-position:-34px -153px}
.sx_comments_msft{background-position:-0px -170px}
.sx_comments_pyahoo{width:50px;height:50px;background-position:-0px -0px}
.sx_comments_paol{width:50px;height:50px;background-position:-0px -51px}
.sx_comments_pmsft{width:50px;height:50px;background-position:-0px -102px}
.sx_comments_star{width:11px;height:10px;background-position:-0px -202px}
.sx_comments_darkstar{width:11px;height:10px;background-position:-28px -187px}
.sx_comments_arrowb{width:9px;height:5px;background-position:-33px -202px}
.sx_comments_arroww{width:9px;height:5px;background-position:-23px -202px}
.sx_comments_arrowl{width:5px;height:3px;background-position:-28px -198px}
.sx_comments_like{width:15px;height:13px;background-position:-33px -170px}
.sx_comments_darklike{width:15px;height:13px;background-position:-17px -170px}
.sx_comments_subscribe{width:12px;height:14px;background-position:-15px -187px}
.sx_comments_subscribedark{width:10px;height:10px;background-position:-40px -187px}
.sx_comments_followLinkInlineCheck{width:9px;height:11px;background-position:-0px -213px}
.sx_comments_followLinkInlineCheckDark{width:10px;height:10px;background-position:-12px -202px}
.uiMorePagerInverted .uiMorePagerPrimary,
.uiMorePagerInverted .uiMorePagerLoader{padding:6px 5px 10px;border:1px solid #444}
.uiMorePagerInverted .uiMorePagerPrimary:hover{background-color:#444}
.uiMorePagerInverted .uiMorePagerSecondary{margin:6px 5px}

#bootloader_W4K8_ { height: 42px; }