/*1326833755,176820406*/

.sp_f3mypn{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/yT/r/Ami4lrB-c2A.png);background-repeat:no-repeat;display:inline-block;height:48px;width:16px}
.sx_5dd6a2{width:17px;height:17px;background-position:-180px -439px}
.sx_76d46a{width:17px;height:17px;background-position:-198px -439px}
.sx_4dc3b7{width:29px;height:30px;background-position:-150px -439px}
.sx_dd6633{width:29px;height:30px;background-position:-120px -439px}
.sx_ed5ca4{width:29px;height:30px;background-position:-90px -439px}
.sx_93da68{width:29px;height:30px;background-position:-60px -439px}
.sx_0662b8{width:29px;height:30px;background-position:-0px -439px}
.sx_747d1c{width:29px;height:30px;background-position:-30px -439px}
.sx_dd20a9{width:14px;height:14px;background-position:-335px -439px}
.sx_f30eb5{height:9px;background-position:-83px -415px}
.sx_3aef1e{height:9px;background-position:-100px -415px}
.sx_eb7d71{height:9px;background-position:-117px -415px}
.sx_719a27{width:9px;height:16px;background-position:-0px -470px}
.sx_414214{width:9px;height:16px;background-position:-10px -470px}
.sx_55a4b4{height:9px;background-position:-134px -415px}
.sx_5c8547{width:10px;height:10px;background-position:-64px -428px}
.sx_ca18d8{width:10px;height:10px;background-position:-75px -428px}
.sx_74c943{width:10px;height:10px;background-position:-97px -428px}
.sx_cc43a4{width:10px;height:10px;background-position:-86px -428px}
.sx_21b626{height:8px;background-position:-92px -398px}
.sx_3a030d{width:11px;height:14px;background-position:-59px -392px}
.selected .sx_3a030d{background-position:-48px -392px}
.sx_c654fc{width:8px;height:14px;background-position:-309px -439px}
.selected .sx_c654fc{background-position:-301px -439px}
.sx_783894{width:12px;height:14px;background-position:-12px -392px}
.selected .sx_783894{background-position:-0px -392px}
.sx_5995a2{width:9px;height:12px;background-position:-73px -415px}
.selected .sx_5995a2{background-position:-64px -415px}
.sx_5ac243{width:10px;height:14px;background-position:-81px -392px}
.selected .sx_5ac243{background-position:-71px -392px}
.sx_0a5ea2{width:11px;height:14px;background-position:-36px -392px}
.selected .sx_0a5ea2{background-position:-25px -392px}
.sx_024a86{width:5px;height:3px;background-position:-112px -392px}
.sx_8464ae{height:16px;background-position:-267px -439px}
.sx_5466ad{width:8px;height:14px;background-position:-326px -439px}
.selected .sx_5466ad{background-position:-318px -439px}
.sx_fff113{width:10px;height:8px;background-position:-109px -398px}
.sx_68361f{height:16px;background-position:-284px -439px}
.sx_84e51b{height:16px;background-position:-250px -439px}
.sx_cd4f7b{height:16px;background-position:-233px -439px}
.sx_dff71a{height:16px;background-position:-216px -439px}
.sx_bf05cf{width:19px;height:5px;background-position:-92px -392px}
.sx_0807e5{width:10px;height:9px;background-position:-151px -415px}
.sx_6dfd15{width:11px;height:12px;background-position:-411px -439px}
.sx_a0e5ba{width:8px;height:13px;background-position:-402px -439px}
.sx_01ead5{width:9px;height:13px;background-position:-392px -439px}
.sx_0079ed{width:11px;height:13px;background-position:-350px -439px}
.sx_ceb0ff{width:9px;height:13px;background-position:-382px -439px}
.sx_cb6c78{width:9px;height:13px;background-position:-372px -439px}
.sx_ece95e{width:9px;height:13px;background-position:-362px -439px}
.sx_83e578{width:5px;height:3px;background-position:-495px -402px}
.sx_3ce90d{width:63px;height:23px;background-position:-0px -415px}
.sx_b4196a{width:500px;background-position:-0px -0px}
.sx_532736{width:500px;background-position:-0px -49px}
.sx_d9fa42{width:500px;background-position:-0px -98px}
.sx_d64bb1{width:500px;background-position:-0px -147px}
.sx_7f12d8{width:500px;background-position:-0px -196px}
.sx_849c61{width:500px;background-position:-0px -245px}
.sx_48ca7e{width:500px;background-position:-0px -294px}
.sx_8ac31b{width:500px;background-position:-0px -343px}

#bootloader_79Sez { height: 42px; }