@charset "UTF-8";
/* CSS Document */

.section-header {
	width: 100%;
	height:auto;
	clear:both;
	margin: 0 0 50px 0;
}

h2.section-title {
	float:left;	
}

.staple {
	float: right;
	width: 33%;
	height: 80px;
	border: 1px #000 solid;
}

#graph {
	width: auto;
	height: 80px;	
}

.span16 p {
	clear:both;	
}