@charset "UTF-8";
/* CSS Document */

.alert {
padding: 8px 14px !important;	
}

.section-header {
	width: 100%;
	height:110px;
	clear:both;
	margin: 40px 0 20px 0;
	border-top: 1px #666 solid;
}

h2.section-title {
	float:left;
	width: 67%;
}

.staple {
	float: right;
	width: 33%;
	height: 80px;
	position: relative;
}

.staple a.more-data {
	position: absolute;
	right: 8px;
	top: 25px;	
	z-index: 1000;
}

#retirementGraph,
#savingsGraph,
#homeownershipGraph,
#postEdGraph,
#entrepreneurshipGraph {
	width: auto;
	height: 80px;	
}

/* ======================================== SAVINGS ======================================== */

.savings .anecdote {
	text-align:center;	
}

.savings-number {
	font-size: 44px;
	line-height: 44px;
}

/* ======================================== EDUCATION ======================================== */

.ed-pills a {
	color: #B94A48;	
}

.ed-pills li.active a {
    background-color: #B94A48;
}

#edPies {
height: 128px;
overflow: hidden;	
}

#edPies h4 {
	text-align: center;
}

#pie2008 {
	position: relative;
}

.edu-anecdote{
	padding:5px;
	margin:0px 5px;
}

.edu-number{
	font-weight:bold;
	font-size: 46px;
	line-height: 56px;
	color:#B94A48;
}

.edu-number-big{
	font-size: 56px;
}


/* ======================================== Entrepreneurship ======================================== */

.ent-anecdote{
	margin:0px 5px;
	text-align:center;
}

.ent-anecdote-box{
	margin:20px 5px;
}

.ent-number{
	font-weight:bold;
	font-size: 46px;
	line-height: 56px;
	color:#0088CC;
}

.ent-number-big{
	font-size: 66px;
}

.ent-number-big-red{
	font-size: 66px;
	color:#B94A48;
}

.ent-number-inline{
	font-size:30px;
}