@charset "UTF-8";
/* CSS Document */

body {
	background-color: #333 !important;
	background: url(../img/bg-noise2.jpg) repeat;	
}

header {
	padding-top: 70px;
}

section.main-content {
/*	background-color: #FFF;	*/
}

.alert {
	padding: 8px 14px !important;	
}

.alert-info a{
	color:#fff;
	text-decoration:underline;
}

.alert-info a:hover{
	color:#ccc;
}


.alert-info h2 {
	color: #FFF;
	margin-bottom: 5px;	
	font-size:34px;
}

.alert-info p {
	font-size: 24px;
	line-height: 26px;	
}

.section-header {
	margin: 70px 0 40px -20px;
	height: auto;
	float:left;
	bottom:120px;
}

.section-header .well {
	background-color: #2E1717;
	padding: 7px 19px !important;
}

h1.header {
	font-size: 56px;
	line-height: 56px;
	padding-bottom: 4px;
	margin-bottom: 40px;
	margin-top: 0;
	font-weight:300;
	letter-spacing:-1px;
	color:#464646;
}

h3.header {
	font-size: 18px;
	text-transform: uppercase;
	border-bottom:2px solid #333;
	margin-top: 70px;
}

.header-body {
}

.section-body {
		margin: 20px 0;	
}

.section-body h2.head {
	line-height: 40px;
	font-size: 37px;
	letter-spacing:-1px;
	color:#464646;
}

.graphText h6{
	margin:20px 0px;
	font-size:16px;
	padding-top:5px;
	line-height:21px;
}

.sectionTagline {
	margin-bottom:50px;
	padding:5px 10px;
	color:#f4f4f4;
	background-color: #2E1717;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	text-align:center;
	font-weight:300;
	position:relative;
}

.sectionTagline a,
.sectionTagline a:hover {
	color: #FFF;
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6 {
	text-transform: none;
}

.modal h3 {
	font-size: 24px;	
}
.overview-graph{
	border-left:2px dotted #F4F4F4;
	left:60px;
	position:relative;
	top:10px;
	float:right !important;
	padding: 30px;
}

.intro-number{
	color:#fff;
	font-weight:200;
	font-size:30px;
	line-height:30px;
}

/* ======================================== STAPLE ======================================== */

.staple {
	float: right;
/*	width: 330px;*/
/*	height: 90px;*/
	position: relative;
}

.staple a.more-data {
	position: absolute;
	right: 25px;
	top: 95px;
	z-index: 1000;
}

#savingsGraphBar,
#homeownershipGraphBar,
#postEdGraphBar,
#entrepreneurshipGraphBar,
#retirementGraphBar {
	width: auto;
	height: 100px;	
}

#savingsGraphPie,
#homeownershipGraphPie,
#postEdGraphPie,
#entrepreneurshipGraphPie,
#retirementGraphPie {
	margin-top: 10px;
	width: auto;
	height: 75px;	
}

.staple h4, 
.staple h5, 
.staple h6 {
	color: #000;
}

.staple h4.pie {
	margin-top:25px;
	position:absolute;	
}

/* ======================================== RETIREMENT ======================================== */

.retirement h4 {
	text-align: center;	
}

/* ======================================== SAVINGS ======================================== */

.row-savings .anecdote {
	text-align:center;	
}

.savings-number {
	font-size: 44px;
	line-height: 44px;
}

.hiddenSavings{
	display:none;
}

/* ======================================== HOMEOWNERSHIP ======================================== */

.row-homeownership .homeownership-well .well {
	overflow: auto;
	width: 100%	
}

.homeownership-number {
	font-size: 44px;
	line-height: 44px;
	margin-right: 10px;
	font-weight: bold;
	float: left;
	width: 140px;
	margin-bottom: 0 !important;
}

.row-homeownership .net-worth-race,
.row-homeownership .mid-charts {
	margin: 0 0 50px 0;
	float:left;	
}

.row-homeownership .net-worth-race .span4 .btn {
	margin-top: 10px;
}

.row-homeownership .net-worth-race .span4 .btn-action {
	font-size: 20px;
	line-height: 22px;
}

.row-homeownership .homeownership-number-row h1.sectionTagline {
	line-height: 38px;	
}

.home-ancedote h2{
	line-height:50px;
}

.home-ancedote h3{
	line-height:50px;
}

.ent-number-home{
	font-weight:bold;
	font-size: 46px;
	line-height: 56px;
	color:#fff;
	text-align:right;
	padding:2px;
	-moz-border-radius:5px;
	border-radius:5px;
	box-shadow: -1px 6px 15px #dddddd;
	margin:10px 0px;
}

/* ======================================== EDUCATION ======================================== */

.ed-tabs {
	margin-bottom: -2px !important;
	position:relative;
	border-bottom: 0;
}

.ed-tabs a {
	color: #D43B73;	
}

.ed-tabs li a,
.ed-tabs li a:hover {
	background-color: #D0D0C3;	
}

.ed-tabs li.ed-active a {
    background-color: #fff;
}

.ed-tabs li.ed-active a:hover {
    background-color: #fff;
	color: #D0D0C3;
}

.alert-pies {
	border: none !important;	
}

.alert-pies h4,
.alert-pies h5,
.alert-pies h6 {
	color:#000;
}

.alert-pies p {
	font-size: 24px;
	line-height: 26px;	
}


#edPies {
height: 215px;
overflow: hidden;	
}

#edPies h4 {
	text-align: center;
}

#pie2008 {
	position: relative;
}

.edu-anecdote{
	padding:5px;
	margin:0px 5px;
}

.edu-number{
	font-weight:bold;
	font-size: 56px;
	line-height: 85px;
	color:#6E022A;
	top: 15px;
	position:relative;
	text-shadow:1px 1px 1px #ccc;
}

.edu-number-big{
	font-size: 85px;
}


/* ======================================== ENTREPRENEURSHIP ======================================== */

.ent-anecdote{
	margin:0px 5px;
	text-align:center;
}

.ent-anecdote-box{
	margin:20px 5px;
}

.ent-number{
	font-weight:bold;
	font-size: 46px;
	line-height: 56px;
	color:#464646;
	
}

.ent-number-big{
	font-size: 66px;
}

.ent-number-big-red{
	font-size: 66px;
	color:#464646;
}

.ent-number-inline{
	font-size:30px;
}

/* ======================================== FOOTER ======================================== */

footer {
	color: #FFF;
	padding: 33px;	
	background-color: #464646;
	margin-top: 70px;
}

/* ======================================== MAP TOOLTIPS ======================================== */
#stateName {
	font-size: 28px;
	text-transform: uppercase;
	line-height:22px;
	padding:5px 0px;
}

#lapr{
	font-weight:bold;
	font-size: 46px;
	line-height: 56px;
	color:#464646;
}

#pr{
	font-weight:bold;
	font-size: 40px;
	line-height: 56px;
	color:#464646;
}

.wax-tooltip{
	font-size: 12px;
    color: #999;
    text-transform: uppercase;
}

.wax-legend h2{
	font-size:24px;
}

/* ======================================== SUP ======================================== */

.sectionTagline sup {
	font-size: 18px;
}

h1 sup,
h2 sup,
h3 sup {
	font-size: 18px;	
}