/* --------------------------
  This is a modified version
  of the controls css file.
  You probably don't really want
  to use this.
----------------------------- */


/* --------------------------
  Map Tooltip
----------------------------- */

.mainToolTip{
	float:left;
	color:#f4f4f4;
	width:100%;
}

.mainToolTip img{
	position:relative;
	left:500px;
}

.toolName{
	font-size: 24px;
	font-family: Arial;
	text-shadow: 0px 1px 1px #333;
}

.wax-tooltip .close {
    display:block;
    position:absolute;
    top:0px;
	right:0px;
	background:transparent url(../images/close.png) no-repeat;
}

/* --------------------------
  Map
----------------------------- */
.map {
/*	position:absolute;
	top:60px;
	bottom:150px;*/
	width:100%;
	height:450px;
}
a.zoomer {
  text-decoration:none;
  position:absolute;
  background-color:#fff;
  color:#444;
  line-height:25px;
  font-size:20px;
  z-index:99999;
  text-align:center;
  width:28px;
  height:28px;
  top:10px;
box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  border:1px solid #eee;
  }

a.zoomin {
	background:#fff url(../images/zoom-in.png) -31px -1px no-repeat;
/*  background-position:-31px -1px;*/
  left:45px;
  border-radius:0px 3px 3px 0px;
  -moz-border-radius:0px 3px 3px 0px;
  -webkit-border-radius:0px 3px 3px 0px;
  }

a.zoomout {
	left:13px;
	background:#fff url(../images/zoom-out.png) -61px -1px no-repeat;
/*  background-position:-61px -1px;*/
  border-radius:3px 0px 0px 3px;
  -moz-border-radius:3px 0px 0px 3px;
  -webkit-border-radius:3px 0px 0px 3px;
  }
  a.zoomdisabled {
    background-color:#ccc;
}

.wax-legends {
	position:absolute;
	right:30px;
	bottom:10px;
	z-index:999999;
	box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
	-moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
	-webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
}

.wax-legends .wax-legend {
	padding:5px;
	background:rgba(255,255,255,0.8);
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.wax-legends .wax-legend h3,
.wax-legends .wax-legend h4 {
	margin: 0;
}

.wax-legends .wax-legend h4 {
	font-style:italic;
	margin: 0 0 5px 0;	
}

.wax-tooltip {
	z-index: 10;
	position: absolute;
	background: rgba(175,175,175, .90);
	color: rgb(244, 244, 244);
	padding: 10px;
	right: 30px;
	top: 10px;
	width: 300px;
	opacity: 1;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	min-height: 200px;
  }

.wax-tooltip h2{
	  color:#fff;
}

.wax-tooltip.hide { opacity:0; }

.wax-tooltip .close {
  display:block;
  position:absolute;
  top:0px;
  right:0px;
	background:#fff url(../images/popup-close.png) no-repeat;
  }

.wax-mobile-body .wax-tooltip {
  position:absolute;
  top:50px;
  }


