body {
  color: #333;
  font-family: Georgia,"Times New Roman",Serif;
  font-size: 15px;
  line-height: 20px;
  background:#fff url(../images/stripe.png) repeat;
  }

/* --------------------------
  Layout
----------------------------- */
.layout-inner,
#main {
  width: 960px;
  text-align: left;
  margin: 0 auto;
  }
#main {
  position: relative;
  padding: 5px;
  background: white;
  box-shadow: 2px 2px 10px #ccc;
  }
#header {
  height: 80px;
  margin-bottom: 20px;
  }
.left {
  float: left;
  width: 720px;
  }
.right {
  float: right;
  width: 240px;
  margin-top: 100px;
  }
#footer {
  margin-top: 40px;
  background: #333;
  padding: 20px 0;
  height: 170px;
  }

/* --------------------------
  Typography
----------------------------- */
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
  }
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{
  text-decoration: none;
  }
h1 { font-size: 28px; line-height: 30px; margin: 15px 0; }
h2 { font-size: 24px; line-height: 26px; margin: 10px 0; }
h3 { font-size: 22px; line-height: 24px; margin: 10px 0; }
h4 { font-size: 14px; line-height: 18px; margin: 15px 0; }
h5 { font-size: 13px; line-height: 16px; margin: 10px 0; }
h4.list-title {
  background:#f4f4f4;
  padding: 5px 10px;
  margin: 0;
  display: block;
  }
h6 {
  font-family: Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  margin: 10px 0;
  }
h1 a {
  color: #f69680;
  }
a {
  color: #f69680;
  text-decoration: none;
  -webkit-transition: color .218s;
  -moz-transition: color .218s;
  -o-transition: color .218s;
  transition: color .218s;
  }
a:hover {
  color: #333;
  }
a.external {
  color: #00C3C2;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  background:url(/images/sprite_base.png) no-repeat -490px -26px;
  }
a.flright {
  float: right;
  }
/*
  Items in the sidebar should 
  have a default size of 12px
*/
.right {
  font-size: 12px;
  line-height: 16px;
  }
/*
  Uppercase, bold and arial
  styling to navigation
*/
.facet h4,
div.product-listing .item .overview .label,
a#all-savings,
ul.information li ul li.title,
ul.information li.title,
ul#navigation li a,
ul.breadcrumb li a {
  font-family: Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  }
/*titles, search box*/
.banner {
  background: #F4F4F4;
  padding: 15px 10px 30px;
  margin-top: 0;
  display: block;
  position: relative;
  }
h2.banner {
  margin: 0;  /*Padding takes care of spacing here.*/
  }
#product-search.banner {
  padding: 15px 10px 17px;
  }
/*Small titles, labels to table headers*/
.label-title {
  background: #f4f4f4;
  padding: 10px;
  display: block;
  }
/*Spinaker*/
#logo h1 {
  margin-bottom: 0;
  }
/*Network title*/
#logo h2 {
  font-family: Arial,Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  }
/* values with no data */
div.data-tile span,
div.product-listing .contents span,
ul.information li ul li.value span {
  color: #ccc;
  }
.title-meta {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  color: #b3b3b3;
  }
.products .title-meta,
.institutions .title-meta {
  font-size: 10px;
  line-height: 12px;
  padding: 0 10px;
  margin: 10px 0;
  }

/* -----------------------------------------
  Forms
--------------------------------------------*/
textarea,
input.text {
  font-family: Arial,Helvetica,sans-serif;
  background: #fff;
  border: 2px solid #b3b3b3;
  border-top-color: #787878;
  border-left-color: #787878;
  margin: 5px 0;
  padding: 2px 5px;
  width: 90%;
  color: #787878;
  }
input.text {
  width: 320px;
  }
button,
input.submit {
  font-family: Arial,Helvetica,sans-serif;
  background: #969696;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  width: 130px;
  height: 25px;
  padding: 5px 10px;
  line-height: 18px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  }
a.button:hover,
input.submit:hover {
  background-color: #333;
  color: #fff;
  }

.icon {
  background: transparent url(../images/sprite_base.png) no-repeat 0 0;
  display: block;
  text-indent: -999999px;
  }

/* --------------------------
  Global Styles
----------------------------- */
#masthead {
  background: #333;
  height: 30px;
  z-index: 100;
  position: relative;
  box-shadow: 0px 2px 5px #ccc;
  }
#masthead a#newamerica {
  background: transparent url(/images/sprite_base.png) no-repeat 0 0;
  float: left;
  margin-top: 5px;
  display: block;
  text-indent: -99999px;
  width: 216px;
  height: 20px;
  }
#logo {
  float: left;
  }
ul#navigation {
  position: absolute;
  right: 0;
  top: 0;
  }
ul#navigation li{
  float: left;
  }
ul#navigation li a {
  color: #333;
  width: 120px;
  height: 50px;
  display: block;
  text-align: center;
  padding-top: 30px;
  }
ul#navigation li a:hover,
ul#navigation li a.active {
  background: #f69680;
  color: white;
  }
ul.breadcrumb {
  background: #969696;
  height: 30px;
  }
ul.breadcrumb li {
  display: inline;
  }
ul.breadcrumb li a{
  background: #b3b3b3 url(../images/sprite_base.png) no-repeat bottom right;
  color: #fff;
  float: left;
  display: block;
  height: 30px;
  padding: 0 30px 0 10px;
  line-height: 30px;
  }
ul.breadcrumb li a.last {
  background-color: transparent;
  background-position: right -440px;
  padding-right: 20px;
  }
/*All product link*/
a#all-savings {
  background: #00C3C2 url(../images/sprite_base.png) no-repeat -400px -90px;
  width: 80px;
  height: 40px;
  color: #333;
  display: block;
  float: right;
  position: absolute;
  right: 0;
  padding: 30px 25px 30px 135px;
  z-index: 10;
  }

#footer h5 {
  font-family: Georgia,"Times New Roman",Serif;
  font-size: 14px;
  }
#footer {
  color: #fff;
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
  }
#footer .download,
#footer .contact,
#footer .partners {
  float: left;
  padding: 10px 20px;
  min-height: 150px;
  height: auto!important;
  height: 150px;
  }
#footer .contact,
#footer .partners {
  width: 200px;
  border-right: 1px dashed #777;
  }
#footer .partners a {
  margin-bottom: 10px;
  }
#footer .partners a#gates {
  width: 145px;
  height: 30px;
  background-position: -105px -20px;
  }
#footer .partners a#newamerica {
  width: 130px;
  height: 30px;
  background-position: -250px 0;
  }
#footer .download {
  width: 430px;
  }
#footer .download a {
  color: #777;
  }
#footer .downloadblock {
  background: transparent url(../images/sprite_base.png) no-repeat -455px -230px;
  padding-left: 80px;
  height: 60px;
  margin-top: 20px;
  }
#footer .downloadblock a {
  background: #2D2D2D;
  padding: 10px;
  color: #747474;
  font-family: Georgia,"Times New Roman",Serif;
  font-size: 28px;
  display: block;
  }
#footer .downloadblock a:hover {
  background: #222;
  color: #fff;
  }

.aboutOverlay{
	background:rgba(51, 51, 51, 0.9);
	margin:10px;
	padding:10px;
	float:left;
}

.green {
	background:#00C3C2;
	height:350px;
	position: relative;
}

.green img{
	padding:15px;
	float:right;
}

.slideOverlay{
	background:rgba(51, 51, 51, 0.8);
	width:500px;
	position:absolute;
	margin-top:150px;
	height:100px;
}

.slideOverlay2{
/*	background: rgba(51, 51, 51, 0.9);*/
	width: 700px;
	color: white;
	height: 0px;
	padding: 5px;
	line-height:22px;
	float:right;
}

/* --------------------------
  Map
----------------------------- */
.map {
  background: #48c3c3;
  width: 720px;
  height: 340px;
  margin-bottom: 20px;
  }
#map-1, #map-2 {
  width: 100%;
  height: 100%;
  position: absolute !important;
  }
.wax-tooltip {
  color: #fff;
  font-size: 28px;
  color: #F69680;
  }
a.zoomer {
  text-decoration: none;
  position: absolute;
  background-color: #444;
  color: #fff;
  line-height: 22px;
  font-size: 20px;
  z-index: 99999;
  text-align: center;
  width: 25px;
  height: 25px;
  }
a.zoomin,
a.zoomout {
  top: 10px;
  }
a.zoomin:active,
a.zoomout:active {
  background-color: #111;
  top: 11px;
  }
a.zoomin {
  left: 10px;
  }
a.zoomdisabled:active,
a.zoomdisabled {
  background-color: #6C7E7E;
  background-color: rgba(0,0,0,.35);
  cursor: default;
  top: 10px;
  }
a.zoomout {
  left: 37px;
  }

/* --------------------------
  Pages: Home (WorldMap)
----------------------------- */
div.about {
  background: #f69680 url(../images/sprite_base.png) no-repeat -285px -280px;
  width: 720px;
  clear: both;
  height: 160px;
  padding-left: 240px;
  margin-bottom: 20px;
  }
div.about-inner {
  border-left: 1px dashed #fff;
  padding: 5px 20px 20px;
  height: 135px;
  }
div.about p {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  }
div.institutions {
  padding-top: 10px;
  width: 100%;
  }
div.home ul.list {
  width: 960px;
  }
div.home ul.list li {
  float: left;
  width: 470px;
  margin: 0 5px;
  }
ul.list li {
  border-bottom: 1px dashed #969696;
  position: relative;
  }
ul.list li a {
  display: block;
  padding: 10px 100px 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  }
ul.list li a span.fade {
  background: transparent url(../images/sprite_base.png) no-repeat left -470px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 100px;
  }
ul.list li a span.count {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #969696;
  }
span.completion {
  background: transparent url(../images/sprite_base.png) no-repeat 0 0;
  height: 10px;
  width: 30px;
  display: block;
  position: absolute;
  bottom: 10px;
  right: 30px;
  }
.banner .title-meta {
  position: absolute;
  right: 45px;
  bottom: 5px;
  }
.title-meta span.completion {
  right: -35px;
  top: 8px;
  }
div.products span.completion {
  bottom: 10px;
  right: 10px;
  }
div.product-listing .item .attribute span.completion {
  left: 5px;
  top: 5px;  
  }
span.completion-6 { background-position: 0 -120px; }
span.completion-5 { background-position: 0 -130px; }
span.completion-4 { background-position: 0 -140px; }
span.completion-3 { background-position: 0 -150px; }
span.completion-2 { background-position: 0 -160px; }
span.completion-1 { background-position: 0 -170px; }
span.completion-0 { background-position: 0 -180px; }

ul.list li a:hover span.count {
  color: #969696;
  }
ul.list li a:hover {
  color: #333;
  }
div.country-stat {
  margin-top: 100px;
  height: 270px;
  width: 240px;
  background: #333;
  float: right;
  }
ul.numbers {
  margin:1px 0 0 0;
  }
ul.numbers li {
  border-bottom: 1px dashed white;
  height: 70px;
  font-size: 28px;
  line-height: 30px;
  color: #F69680;
  position: relative;
  padding: 20px 20px 0;
  width: 200px;
  }
ul.numbers li strong {
  color: #fff;
  font-weight: normal;
  }

/* --------------------------
  Pages: Product pages
----------------------------- */
ul.information li {
  border-bottom: 1px dashed #969696;
  width: 100%;
  overflow: auto;
  }
.right ul.information li {
  overflow: visible;
  }
ul.information li ul li {
  border-bottom: none;
  overflow: visible;
  float: left;
  padding: 10px;
  }
ul.information li ul li.title {
  width: 220px;
  }
ul.information li ul li.value {
  width: 440px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  }
/*Sidebar Information*/
div.groups {
  margin-left: 10px;
  margin-top: 20px;
  width: 230px;
  }
div.groups .item {
  margin-left: 10px;
  }
div.groups ul.information li {
  border-bottom: none;
  overflow: default;
  }
div.groups ul.information li.value {
  font-style: italic;
  margin: 10px 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  }

/* --------------------------
  Pages: Product browser
----------------------------- */
.block-header,
.product-header {
  background: #f4f4f4;
  width: 100%;
  padding: 5px 0;
  font-size: 15px;
  }
div.product-header {
  float: left;
  }
h2.block-header {
  display: block;
  width: 220px;
  padding: 1px 5px;
  margin: 0;
  }
.product-header h4,
div.product-listing .item .attribute {
  font-size: 15px;
  margin: 0px;
  padding: 0px 5px;
  float: left;
  width: 120px;
  }
div.product-listing .item .attribute {
  position: relative;
  }
.product-header h4.results,
div.product-listing .item .name {
  padding-left: 45px;
  width: 305px;
  }
.product-header h4.country {
  width: 120px;
  }
.product-header h4.institution,
div.product-listing .item .institution {
  width: 210px;
  }
div.product-listing {
  border-right: 1px dashed #F4F4F4;
  padding-right: 10px;
  padding-top: 20px;
  width: 710px;
  }
div.product-listing .item {
  float: left;
  border-bottom: 1px dashed #969696;
  padding: 10px 0px;
  width: 710px;
  }
div.product-listing .item .overview {
  padding: 5px 0px;
  clear: both;
  }
div.product-listing .item .overview .label {
  float: left;
  width: 120px;
  padding: 0px 5px;
  }
div.product-listing .item .overview .contents {
  float: left;
  width: 580px;
  }
div.product-listing .empty {
  clear: both;
  padding: 20px 0px;
  text-align: center;
  font-size: 28px;
  color: #ccc;
}
/*Pager*/
ul.pager {
  background: #F4F4F4;
  padding: 10px 0;
  margin: 15px 0;
  width: 710px;
  }
ul.pager li {
  width: 105px;
  }
ul.pager li.next {
  float: right;
  margin-right: 10px;
  }
ul.pager li.prev {
  float: left;
  margin-left: 10px;
  }
ul.pager li a {
  font-family: Arial,Helvetica,sans-serif;
  background: #fff;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px;
  width: 85px;
  display: block;
  }
ul.pager li a:hover {
  background-color: #F69680;
  color: white;
  }
ul.pager li.next a {
  text-align: right;
  }

/* --------------------------
  Pages: Product browser:Facets
----------------------------- */
.facets {
  margin-left: 10px;
  margin-top: 20px;
  width: 229px;
  }
.facet {
  background: #969696;
  }
.facet h4 {
  background: transparent url(../images/sprite_base.png) no-repeat -280px -40px;
  color: #fff;
  cursor: pointer;
  margin: 1px 0 0;
  padding: 10px;
  }
.facets h4.active {
  background-position: -280px -65px;
  }
.facets .facet ul {
  font-family: Arial,Helvetica,sans-serif;
  display: none;
  }
.facets .active ul {
  display: block;
  }
.facet a {
  background: #7a7a7a;
  color: #fff;
  padding: 5px 10px;
  display: block;
  }
.facet a:hover {
  background: #555;
  }
.facets .facet a.active:hover,
.facets .active a {
  background: #7a7a7a url(../images/sprite_base.png) no-repeat -275px -190px;
  margin-right: -5px;
  padding-right: 30px;
  }

/* --------------------------
  Pages: Country
----------------------------- */
.details {
  float: left;
  width: 470px;
  padding-right: 10px;
  padding-top: 10px;
  }
.details .overview {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 10px 0;
  }
.details .products {
  padding: 10px 0;
  }
div.indicators {
  float: left;
  width: 469px;
  padding-left: 10px;
  padding-top: 10px;
  border-left: 1px dashed #f4f4f4;
  }
div.indicators .column {
  float: left;
  width: 214px;
  padding: 0 10px;
  }
.data-tile {
  border-bottom: 1px dashed #969696;
  padding: 5px 0;
  }
.data-tile:last-of-type {
  border-bottom: 0;
  }
.indicator-title,
.data-tile h5 {
  font-size: 10px;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  margin: 0;
  }
.data-tile .number {
  color: #f69680;
  font-size: 24px;
  float: left;
  width: 65px;
  margin-right: 10px;
  padding: 5px 0;
  }
.data-tile.small .number {
  font-size: 16px;
  width: 40px;
  }
.data-tile.graph .number {
  width: auto;
  }
.data-tile .hint {
  float: left;
  font-size: 12px;
  line-height: 14px;
  width: 100px;
  padding: 5px 0;
  height: 22px;
  }
.data-tile.small .hint {
  padding-top: 3px;
  }
.data-tile .year {
  color: #B3B3B3;
  font-size: 12px;
  float: right;
  }
.data-tile .graph {
  width: 100%;
  height: 125px;
  clear: both;
  margin-bottom: 8px;
  }
.diamond-data {
  padding: 0 10px;
  font-size: 12px;
  margin-bottom: 10px;
  }
.diamond-data p.diamonds {
  background: transparent url(../images/sprite_base.png) no-repeat 0 0;
  height: 20px;
  display: block;
  line-height: 14px;
  margin-top: 5px;
  }
.diamond-data p.diamonds-5 { background-position: 0 -20px;  padding-left: 110px; }
.diamond-data p.diamonds-4 { background-position: 0 -40px;  padding-left: 90px; }
.diamond-data p.diamonds-3 { background-position: 0 -60px;  padding-left: 70px; }
.diamond-data p.diamonds-2 { background-position: 0 -80px;  padding-left: 50px; }
.diamond-data p.diamonds-1 { background-position: 0 -100px; padding-left: 30px; }

/*Mobile*/
#IT-CEL-SETS,
#IT-CEL-SETS-P2 {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom-color: #fff;
  }
#IT-CEL-SETS {
  background-image:url(../images/sprite_base.png);
  background-repeat: no-repeat;
  background-position: 15px -190px;
  padding-top: 80px;
  margin-top: 10px;
  }
/* --------------------------
  Pages: Institution
----------------------------- */
.institution .data-tile .number {
  width:160px;
  }
.market-header {
  padding: 5px 80px 5px 10px;
  width: 380px;
  position: relative;
  display: block;
  margin-top: 10px;
  }
.market-header a.external {
  float: none;
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding-left: 15px;
  }

/*-----------------------
  Markup free clearing
  Details: http://perishablepress.com/press/2009/12/06/new-clearfix-hack
-------------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */

/*quotes*/

.bqstart {
     float: left;
     font-size: 500%;
     color:rgba(150,150,150,0.5);
 }


 .bqend {
     float: right;
     font-size: 500%;
     color: #FF0000;
	 height: 25px;
	 margin-top: 0px;
     padding-top: 45px;
	 color:rgba(150,150,150,0.5);
 }

/*-----------------------
  Research pages
-------------------------*/

.articleDetail{
	background: #F4F4F4;
	padding: 5px;
}
